# EditorConfig helps maintain consistent coding styles
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.robot]
indent_style = space
indent_size = 4

[*.resource]
indent_style = space
indent_size = 4

