# IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Reports and logs
playwright-log.txt
report.html
log.html
log/
output/
output.xml
*.old
reports/
testresults/
pip-log.txt
pip-delete-this-directory.txt
coverage.xml

# Environments
*venv*/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.iml
__pycache__/
.bash_history
.cache/
.pytest_cache/
.run
browser/
